#!/usr/bin/env python3

import sys
import subprocess
import mupengtksettings
import gi
gi.require_version('Gtk', '3.0')
from gi.repository import Gtk


class Window(Gtk.ApplicationWindow):
    def __init__(self, app):
        super(Window, self).__init__(title="MupenGTK", application=app)
        grid = Gtk.Grid()
        menubar = Gtk.MenuBar()

        # Headers nested within Menu
        file_header = Gtk.MenuItem.new_with_label("File")
        emu_header = Gtk.MenuItem.new_with_label("Emulation")

        # File Menu Options
        file_menu = Gtk.Menu()
        open_rom = Gtk.MenuItem.new_with_label("Open Rom")
        open_rom.connect("activate", self.select_rom)
        file_menu.append(open_rom)

        start = Gtk.MenuItem.new_with_label("Start Game")
        start.connect("activate", self.run_game)
        file_menu.append(start)

        quit = Gtk.MenuItem.new_with_label("Quit")
        quit.connect("activate", self.quit_app)
        file_menu.append(quit)

        file_header.set_submenu(file_menu)

        # Emulation Menu Options
        emu_menu = Gtk.Menu()
        set_res = Gtk.MenuItem("Resolution")
        set_res.connect("activate", self.change_resolution)
        emu_menu.append(set_res)
        set_screen = Gtk.MenuItem("Screen Setting")
        set_screen.connect("activate", self.change_screen_setting)
        emu_menu.append(set_screen)
        emu_header.set_submenu(emu_menu)

        # Menu Bar
        menubar.add(file_header)
        menubar.add(emu_header)

        grid.attach(menubar, 0, 0, 1, 1)
        self.add(grid)
        self.set_default_size(400, 300)

    def change_screen_setting(self, widget):
        r_full = mupengtksettings.read_settings()
        win = SwitcherWindow(r_full.get_fullscreen())
        win.set_default_size(225, 30)
        win.connect("destroy", Gtk.main_quit)
        win.show_all()
        Gtk.main()

    def change_resolution(self, widget):
        win = SelectRes()
        win.connect("delete-event", Gtk.main_quit)
        win.set_default_size(200, 100)
        win.show_all()
        Gtk.main()

    def select_rom(self, widget):
        s_rom = mupengtksettings.set_settings()
        filechooserdialog = Gtk.FileChooserDialog(
            title="Select ROM...",
            parent=None,
            action=Gtk.FileChooserAction.OPEN)
        filechooserdialog.add_buttons("_Open", Gtk.ResponseType.OK)
        filechooserdialog.add_buttons("_Cancel", Gtk.ResponseType.CANCEL)
        filechooserdialog.set_default_response(Gtk.ResponseType.OK)

        response = filechooserdialog.run()

        if response == Gtk.ResponseType.OK:
            s_rom.set_rom(filechooserdialog.get_filename())
            print(f'File selected: {filechooserdialog.get_filename()}')
        filechooserdialog.destroy()

    def run_game(self, event):
        r_settings = mupengtksettings.read_settings()
        fullscreen = r_settings.get_fullscreen()
        if fullscreen is True:
            fullscreen = '--fullscreen'
        else:
            fullscreen = '--windowed'
        cmd = (f'mupen64plus --gfx {r_settings.get_plugin_gfx()} '
               f'--audio {r_settings.get_plugin_audio()} '
               f'--input {r_settings.get_plugin_input()} '
               f'--rsp {r_settings.get_plugin_rsp()} '
               f'--resolution {r_settings.get_resolution()} '
               f'{fullscreen} '
               f'\'{r_settings.get_rom()}\' ')
        print(cmd)
        subprocess.Popen(cmd, shell=True)

    def quit_app(self, event):
        app.quit()


class SelectRes(Gtk.Window):

    def __init__(self):
        Gtk.Window.__init__(self, title="Set Resolution")

        self.set_border_width(10)
        vbox = Gtk.Box(orientation=Gtk.Orientation.VERTICAL, spacing=10)

        def default_res():
            cmd = ['xrandr']
            cmd2 = ['grep', '*']
            p = subprocess.Popen(cmd, stdout=subprocess.PIPE)
            p2 = subprocess.Popen(cmd2, stdin=p.stdout, stdout=subprocess.PIPE)
            p.stdout.close()
            resolution_string, junk = p2.communicate()
            resolution = resolution_string.split()[0]
            return resolution.decode("utf-8")

        resolutions = [
            '640x360',
            '800x600',
            '1024x768',
            '1280x720',
            '1280x800',
            '1280x1024',
            '1360x768',
            '1366x768',
            '1440x900',
            '1536x864',
            '1600x900',
            '1680x1050',
            '1920x1080',
            '1920x1200',
            '2048x1152',
            '2560x1080',
            '2560x1440',
            '3440x1440',
            '3840x2160'
        ]
        resolution_combo = Gtk.ComboBoxText()
        resolution_combo.set_entry_text_column(0)
        resolution_combo.connect("changed", self.on_resolution_combo_changed)
        for resolution in resolutions:
            resolution_combo.append_text(resolution)

        r_settings = mupengtksettings.read_settings()
        resolution_combo.set_active(
            resolutions.index(r_settings.get_resolution())
            )
        vbox.pack_start(resolution_combo, False, False, 0)

        self.add(vbox)

    def on_resolution_combo_changed(self, combo):
        res = combo.get_active_text()
        if res is not None:
            s_res = mupengtksettings.set_settings()
            s_res.set_resolution(res)
            print(f'Selected: resolution={res}')
            return res


class SwitcherWindow(Gtk.Window):
    def __init__(self, default_state):
        Gtk.Window.__init__(self, title="Fullscreen")
        self.set_border_width(20)

        hbox = Gtk.Box(spacing=2)
        self.add(hbox)

        switch = Gtk.Switch()
        switch.connect("notify::active", self.on_switch_activated)
        print(default_state)
        switch.set_active(default_state)
        hbox.pack_start(switch, True, False, 0)

    def on_switch_activated(self, switch, gparam):
        s_full = mupengtksettings.set_settings()
        if switch.get_active():
            state = True
            s_full.set_fullscreen(state)
        else:
            state = False
            s_full.set_fullscreen(state)
        print("Switch was turned", state)


class Application(Gtk.Application):
    def __init__(self):
        super(Application, self).__init__()

    def do_activate(self):
        self.win = Window(self)
        self.win.show_all()

    def do_startup(self):
        Gtk.Application.do_startup(self)


app = Application()
app.run(sys.argv)
